
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

html {
    font-family: "Source Sans Pro", sans-serif;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    padding-bottom: 6em;
}

.content, footer {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

footer {
    margin-top: 4em;
}

tr:nth-child(even) {
    background-color: #ececec;
}

tr:nth-child(odd) {
    background-color: #f4f4f4;
}

td {
    padding: 0.25em 1em;
}

section {
    margin-left: 2em;
}

.btn {
    border: none;
    display: inline-block;
    padding: 0.5em;
    background-color: #57a3f4;
    max-width: 10em;
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
}

.btn:hover {
    background-color: #4382bf;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 0.5em;
    margin-top: 1.5em;
}

label.optional {
    font-style: italic;
}

.add-btn, .submit-btn {
    margin-top: 1em;
    margin-bottom: 2em;
}

.btn-lg {
    padding: 0.75em;
    font-size: 14px;
}

.inline-btn {
    display: inline-block;
    margin-left: 0.5em;
}

input[type="text"], input[type="number"], textarea {
    border: none;
    box-shadow: #dadada -1px -1px 4px, #dadada 1px 1px 4px;
}

input[type="text"], input[type="number"] {
    line-height: 2em;
    padding: 4px;
}

textarea {
    padding: 1em;
}

.bibtex-container {
    display: block;
    margin-top: 1em;
}

.hidden {
    display: none;
}

.filtered-out {
    display: none;
}

#search {
    display: block;
    width: 20em;
}