<!doctype HTML>
<html>
    <head>

    </head>
    <body>
        <div class="content">
            <h1>Hello, database!</h1>
            {{#each lines}}
            <li> {{ this }} </li>
            {{/each}}
        </div>
    </body>
<html>