doctype html
html
    head
        link(rel="stylesheet" href="/css/index.css")
    body
        .content
            block content
                h2 Empty content.
        footer
            p © 2017 Haloo Consulting International Ltd