doctype html
html
    head
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js")
        link(rel="stylesheet" href="/css/index.css")
        title Haloo Consulting - Ohturef
        block scripts
    body
        .content
            block content
                h2 Empty content.
        footer
            p © 2017 Haloo Consulting International Ltd