extends layout

block content

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js")

    h1 New reference
    a(href="/") ◀ Return to listing
    form(action="/new" method="post")
        .field(id="type")
            label(for="type") Type
            select(name="type" id="type" required)
                option(value="" disabled selected) --Choose reference type--
                option(value="Book" data-show='["id","author","title","year","publisher","address"]') Book
                option(value="Inproceedings" data-show='["id","author","title","year","booktitle","pages","publisher","address"]') Inproceedings
                option(value="Article" data-show='["id","author","title","year","pages","journal","volume","number","publisher","address"]') Article
        .field(id="id")
            label(for="id") Id
            input#id(name="id" type="text" size="10" required)
            a(href="#").btn.inline-btn Generate
        .field(id="author")
            label(for="author" required) Author
            input#author(name="author" type="text" size="50")
        .field(id="title")
            label(for="title" required) Title
            input#title(name="title" type="text" size="80")
        .field(id="year")
            label(for="year" required) Year
            input#year(name="year" type="number" min="1000" max="2017" value="2000")
        .field(id="publisher")
            label.optional(for="publisher") Publisher
            input#publisher(name="publisher" type="text" size="50" placeholder="Optional")
        .field(id="address")
            label.optional(for="address") Address
            input#address(name="address" type="text" size="50" placeholder="Optional")
        .field(id="pages")
            label.optional(for="pages") Pages
            input#pages(name="pages" type="text" size="30" placeholder="Optional")
        .field(id="journal")
            label.optional(for="journal") Journal
            input#journal(name="journal" type="text" size="50" placeholder="Optional")
        .field(id="volume")
            label.optional(for="volume") Volume
            input#volume(name="volume" type="number" min="1")
        .field(id="number")
            label.optional(for="number") Number
            input#number(name="number" type="number" min="1")
        .field(id="booktitle")
            label.optional(for="booktitle") Booktitle
            input#booktitle(name="booktitle" type="text" size="80" placeholder="Optional")

        input.btn.submit-btn.btn-lg(type="submit" value="Create")

        script.
            function initialize() {
                hideFields();
                $('#type option').prop('selected', function() {
                    return this.defaultSelected;
                })
            }

            function hideFields() {
                $('.field').hide();
                $('#type').show();
            }

            window.onload = initialize;

            $(document).ready(function() {
              $('#type').change(function() {
                $('.field').hide();
                $('#type').show();
                $('#' + $('option:selected', this).data('show').join(', #')).show();
              });
            });