<!doctype HTML>
<html>
<head>

</head>
<body>
<div class="content">
    <h1>Hello, new entry!</h1>
    <form action="/new" method="post">
        id<br>
        <input type="text" name="id"><br>
        type<br>
        <select name="type">
            <option value="book">Book</option>
            <option value="article">Article</option>
            <option value="inproceedings">Inproceedings</option>
        </select><br>
        author<br>
        <input type="text" name="author"><br>
        title<br>
        <input type="text" name="title"><br>
        year<br>
        <input type="number" name="year" min="1" max="2017"><br>
        publisher<br>
        <input type="text" name="publisher"><br>
        <input type="submit" value="Submit"><br>
    </form>
</div>
</body>
<html>