<!doctype HTML>
<html>
    <head>

    </head>
    <body>
        <div class="content">
            <h1>{{ reference }}</h1>
            <br>
            <input type="button" onclick="location.href='/';" value="Back to home page" /><br>
        </div>
    </body>
<html>